html{
  font-size: 18px;

}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Header */
header{
  background-color: black;
  color: white;
}

header *{
  display: inline;
}

.top-background-holder{
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.wide-960{
  width: 960px;
  margin: auto;
}

.menu-holder{
  
}
.top-content{

}
