html{
  font-size: 18px;
  font-family: Helvetica;
  color: white;
  margin: 0;
}
.width-setter{
  width: 960px;
  height: inherit;
  margin: auto;
  display: block;
}

/* Header below*/
header{
  background-color: black;
  height: 2.32rem;
  position: relative;
}
header .width-setter {
  display: flex;
  align-items: center;
}
header div img{
  height: 1.5rem;
  width: auto;
  padding: 0 0.5rem;
}
header div p{
  padding: 0.66rem 0.5rem;
}
/* Header above*/
/*the inbetweeners below*/
.top{
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.upper-content{
  position: relative;
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  font-weight: bold;
  background-color: black;
}
.upper-content h4{
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
.upper-content h2{
  font-size: 2rem;
}
/*the inbetweeners above*/
/* Nav \/ */
nav{
  background-color: firebrick;
}
nav li{
  list-style-type: none;
  padding: 0.75rem 0;
}
nav li a{
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
nav .menu{
    display: none;
}
nav .width-setter{
  display: flex;
  justify-content: space-between;
}
/* Nav /\ */
/*Shopping list next*/
.shop{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list-item{
  width: 30%;
  height: 15rem;
  margin-top: 3rem;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.list-item img{
  height: 9rem;
  width: auto;
  max-width: 80%;
  padding: 2rem 0;
  margin: auto;}
.list-item p{
  background-color: black;
  padding: 0.5rem;
  width: auto;
  text-align: center;}
/* Shopping list end*/
/* Store Features*/
.store-feature{
  width: 35%;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.store-feature p:first-child{
    background-color: black;
    padding: 1rem 2rem;
    color: inherit;
}
.store-feature p{
  color: black;
}
/* store features*/

/*Footer*/
footer{
  height: 5rem;
  background-color: black;
}
footer .width-setter{
  display: flex;
  align-items: center;
}
/* Footer end*/

/* Desktop end*/

/*Tab in landscape*/
@media only screen and (max-width:1024px){
  .width-setter{
    width: auto;
  }

  nav .menu {
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 0.75rem 0;
  }

  #glasses, nav div li a, nav .width-setter/* nav .width-setter is the nav list if it were on wide screen. Should've named better. :/ */
  {
    display: none;
  }

  .shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .list-item{
    width: 47%;
  }

  .store-feature{
    width: 35%;
  }
}

/* And Mobile*/
@media only screen and (max-width:470px) {
  .width-setter{
    width: auto;
  }
  .top{
    height: 15rem;
  }
  .upper-content{
    top: 10rem;
    width: auto;
    padding: 1rem 2rem;
  }
  .upper-content h4{
    font-size: 0.77rem;
    margin-bottom: 0.25rem;
  }
  .upper-content h2{
    font-size: 1rem;
  }
  .shop{
    justify-content: center;
  }
  nav .menu {
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 0.75rem 0;
  }
  #glasses, #watch, nav div li a, nav .width-setter {
    display: none; /* nav .width-setter is the list if it were on wide screen. Should've named better. :/ */
  }
  .list-item, .store-feature{
    width: 90%;
  }
  .store-feature{
    margin: 0;
    padding-bottom: 0.5rem;
  }
  .shop div:nth-child(4){
    margin-top: 3rem;
  }
  footer{
    margin-top: 3.5rem;
  }
  footer p{
    margin: auto;
  }
}

/* ****The End****  */
